form {
  background-color: rgb(255, 71, 71);
  /* margin: 8rem auto; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 10rem;
}

.form__input {
  padding: 1rem;
}

.form-img {
  width: 50%;
}

input {
  float: right;
  position: relative;
  height: 3rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0 1.5rem;
}
label {
  color: white;
  font-size: 1.5rem;
}
.submit {
  text-align: center;
  margin: 0.5rem;
  color: coral;
  font-size: 1.6rem;
}
